pyyaml
pandas[performance]~=2.0.1
more_itertools
numpy~=1.20
ipykernel
hvplot~=0.8.3
matplotlib~=3.7
scipy~=1.10.0
implicit~=0.6.2
ipywidgets~=8.0
seaborn~=0.12.2
lightfm~=1.17.0
catboost~=1.2.0
polars[pandas,numpy,timezone,pyarrow]~=0.17.13
